<h1> Hello, <%= @manager.name %>! </h1>
<div>
  <br>
    <p> We want to notificate you that the time for achieving <%= @user.name %>'s goal 
      "<%= @goal.name %>" will expire in <%= @expiration_day %> <%= "day".pluralize(@expiration_day) %>! </p>
  <br>
    <p> With regards, GTS team </p>
</div>