<div class="content">
  <div class="container">
    <div class="title">
      <%= t('quick_category_editing') %>
    </div>
    <%= form_for @category do |c|%>
      <div class="filters_block editing">
        <div class="clearfix">
          <label class="label_styled minus_btn_width_md"> 
            <span class="label_text"><%= t('category_name') %> </span>
            <%= c.text_field :name, class:'form-control', placeholder:'Category name' %>
          </label>
          <%= c.submit(I18n.t('update_category'), class:'btn btn_primary btn_mt btn_md pull-right')%>
        </div>
      </div>
    <% end %>
  </div>
</div>
